:host {
  display: flex;
  padding-left: 1rem;
  justify-content: center;
  padding-bottom: 4.5rem;
}

#blogs-list-container {
  width: 100%;
}

@media screen and (orientation: landscape) {
  :host {
    padding-left: 4.5rem;
  }

  #blogs-list-container {
    width: 61.8%;
  }
}