:host {
  display: block;
  padding-left: 1rem;
}

.cover-image {
  position: fixed;
  z-index: -1;
  opacity: 0.06;
  margin: auto;
  width: 50rem;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (orientation: landscape) {
  :host {
    padding-left: 4.5rem;
  }
}
