:host {
  display: flex;
  padding-left: 1rem;
  justify-content: center;
  // padding: 0;
  padding-bottom: 4.5rem;
}

.cover-image {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  margin: auto;
  width: 60rem;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.about-container {
  transition: opacity 200ms ease-in;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}

@media screen and (orientation: landscape) {
  :host {
    padding-left: 4.5rem;
  }

  .about-container {
    width: 61.8%;
  }
}

#typewriter {
  color: var(--app-color-primary);
}
