:host {
  display: flex;
  width: 100%;
  line-height: 1.2rem * 1.618;
  transition: opacity 200ms ease-in;
  opacity: 1;
}

:host.hidden {
  opacity: 0;
}

:host > *:not(pre) {
  font-size: 1.2rem;
}

#blog-content {
  padding: 1rem;
  max-width: 90%;
}

@media screen and (orientation: landscape) {
  #blog-content {
    width: 61.8%;
  }

  :host {
    justify-content: center;
  }
}

pre code {
  font-size: 1rem;
}
