:host {
  display: flex;
  width: 100%;
  line-height: 1.4rem * 1.618;
  transition: opacity 200ms ease-in;
  font-family: 'Quicksand', sans-serif;
  opacity: 1;
  font-size: 1.4rem;
}

:host.hidden {
  opacity: 0;
}

#blog-content {
  padding: 1rem;
  max-width: 90%;
}

@media screen and (orientation: landscape) {
  #blog-content {
    width: 61.8%;
  }

  :host {
    justify-content: center;
  }
}
